apiVersion: v1
kind: Secret
metadata:
  name: russchords-backend-secrets
type: Opaque
data:
  ConnectionStrings__DefaultConnection: ""
  COGNITO__AUTHORITY: ""
  COGNITO__CLIENTID: ""
  AWS_ACCESS_KEY_ID: ""
  AWS_SECRET_ACCESS_KEY: ""
