inputs = {
  vite_google_search_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  vite_google_search_cx  = "XXXXXXXXXXXXXXXXX"
  vite_gtm_id            = "GTM-XXXXXXXX"
  github_branch          = "develop"
  private_zone_name      = "dev.internal"
  callback_urls          = [
    "http://localhost:5173/auth/callback",
    "http://localhost:5173"
  ]
  logout_urls            = [
    "http://localhost:5173"
  ]
}
