inputs = {
  vite_google_search_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
  vite_google_search_cx  = "XXXXXXXXXXXXXXXXX"
  vite_gtm_id            = "GTM-XXXXXXXX"
  github_branch          = "prod"
  private_zone_name      = "prod.internal"
  callback_urls          = []
  logout_urls            = []
}

