server {
  listen 443 ssl;
  server_name ${DOMAIN};

  access_log /dev/stdout;
  error_log /dev/stderr warn;

  include /config/nginx/ssl.conf;

  location / {
    proxy_pass http://${PROXY_PASS_HOST};
    include /config/nginx/proxy.conf;
  }
}